html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --background-color: rgba(47, 48, 58, 0.8);
  --background-color-project: rgba(33, 150, 243, 0.9);
  --copiright--color: rgba(255, 255, 255, 0.4);
  --link-contacts-color: rgba(255, 255, 255, 0.6);
  --border-secondary-color: #afb1b8;
  --background-grey-color: #f5f4fa;
}

body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer {
  padding-bottom: 21px;

  margin-left: auto;
  margin-right: auto;
  /* width: 1230px; */

  background-color: #2f303a;
}
a {
  text-decoration: none;
}

/* Site nav */
.list.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.list.auth-nav a.link {
  vertical-align: text-top;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.bottom-line {
  position: relative;
}

.site-nav .link.current::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
img {
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--logo-black-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-nav > .logo {
  margin-right: 86px;
}

.blue-logo {
  color: var(--accent-color);
}
.logo:focus,
.logo:hover {
  /* color: var(--accent-color); */
  outline-color: var(--accent-color);
}
.title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Hero */

.hero {
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/overlay-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero > div {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  width: 1200 px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button.primary {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 34px;

  min-width: 200px;
  height: 50px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* auth-nav */

.auth-nav .item {
  display: block;
  margin-right: 30px;
}
.auth-nav .item:last-child {
  margin-right: 0;
}

.auth-nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link {
  display: flex;
  align-items: center;

  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  margin-left: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  margin-right: 10px;
}

.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}
.icon-smartphone {
  width: 10px;
  height: 15px;
}

.item-features {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--background-grey-color);
}
.icon-features {
  width: 70px;
  height: 70px;
}
.img-hover > img {
  display: inline-block;
  padding: 25px 104px;
}

main section:nth-child(2) {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title.big {
  margin-bottom: 55px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.works img {
  display: block;
}

.applications {
  display: inline-block;
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  color: var(--primary-white-color);
  background-color: var(--background-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-li li {
  width: 270px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 0;
}
.title-item {
  margin-bottom: 15px;
}

main section:nth-child(3) {
  padding-bottom: 94px;
}

.works {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works > li {
  position: relative;

  width: 370px;
}

main section:nth-child(4) {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title.big.team {
  margin-bottom: 50px;
}

.employer {
  padding-bottom: 24px;

  width: 270px;
  text-align: center;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.employer > img {
  margin-bottom: 30px;
}

.title.teamate {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-nets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social-nets .net-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  fill: #afb1b8;

  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-socialnet {
  width: 20px;
  height: 20px;
}
.social-nets .net-image:focus,
.social-nets .net-image:hover {
  background-color: #2196f3;
  fill: #fff;
  outline: none;
}
main section:nth-child(5) {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title.big.clients {
  margin-bottom: 55px;
}

.client-list .item .item__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid;
  border-color: var(--border-secondary-color);
  fill: var(--border-secondary-color);
  border-radius: 4px;

  width: 170px;
  height: 90px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list .item .item__link:focus,
.client-list .item .item__link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}
.icon-logo-1 {
  width: 45px;
  height: 50px;
}
.icon-logo-2 {
  width: 40px;
  height: 52px;
}
.icon-logo-3 {
  width: 41px;
  height: 43px;
}
.icon-logo-4 {
  width: 80px;
  height: 43px;
}
.icon-logo-5 {
  width: 59px;
  height: 47px;
}
.icon-logo-6 {
  width: 89px;
  height: 46px;
}

.basement {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;

  margin-bottom: 28px;
}

.cl footer a,
p,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.down {
  margin-bottom: 10px;

  color: var(--primary-white-color);

  font-size: 22px;
  line-height: 1.18;
}
address {
  font-style: normal;
}

/* Работает */
address p {
  margin-bottom: 10px;
}
address p:first-child {
  color: var(--primary-white-color);
}
address p:last-child {
  margin-bottom: 0px;

  color: var(--primary-white-color);
}
.basement section:nth-child(2) {
  margin-right: -50px;
}

.network-icon {
  display: flex;
  align-items: center;
}
.network-icon .item:not(:last-child) {
  margin-right: 10px;
}
.net-image-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.net-image-footer:focus,
.net-image-footer:hover {
  background-color: var(--accent-color);
  outline: none;
}
.link-color a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--link-contacts-color);
}
/* .join {
  display: flex;
  align-items: center;
} */
.follow {
  margin-bottom: 21px;
  margin-top: 0px;
  margin-right: 63px;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.icon-icon-send {
  width: 24px;
  height: 24px;
}
.follow-sign {
  margin: 0px;
  margin-bottom: 20px;
}
.copiright {
  padding-top: 21px;

  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: var(--copiright--color);
}
footer > p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.project-item {
  margin-bottom: 30px;

  width: 370px;

  overflow: hidden;
}
.project__image {
  position: relative;

  overflow: hidden;
}
.project__background {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 100%;

  background-color: var(--background-color-project);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project__background {
  transform: translateY(-100%);
}
.project-item:focus .project__background {
  transform: translateY(-100%);
}

.description-project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.project-item:focus,
.project-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-text {
  border-bottom: 1px solid#EEEEEE;
  border-right: 1px solid#EEEEEE;
  border-left: 1px solid#EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  margin-bottom: 5px;
  margin-left: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-item h2.project-title {
  margin-top: 0px;
  margin-bottom: 0;
}
.project-item img {
  display: block;
}

p.kind-work {
  margin-left: 24px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Button */

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  cursor: pointer;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--background-grey-color);
  border: none;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-f {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 25px;

  width: 200px;
  height: 50px;

  color: var(--primary-white-color);
  border: none;

  font-family: Roboto;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.input {
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  height: 50px;
  width: 358px;
  background: #2f303a;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.form {
  display: flex;
  align-items: center;
}
.batton-port {
  vertical-align: top;
  margin-right: 10px;
}
.list .profession {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}
/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-nav {
  display: flex;
  align-items: center;
}
/* кнопки выбора фильтрв */
.button-filter {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

/* проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
main.main-portfolio {
  margin-top: 95px;
  margin-bottom: 95px;
  padding: 0;
}
.projects .project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* Убирает єлемент из потока и прячет его */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    vissibility cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-field {
  position: relative;
  display: block;
}

.form-field:nth-child(-n + 4) {
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 448px;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
}
.form-title {
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field .form-icon {
  position: absolute;
  top: 50%;
  left: 18px;

  transform: translateY(-50%);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 18px;
  height: 18px;
  /* background-color: tomato; */
}
.form-icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-27px, -40px);
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.17;
}
.form-input:focus ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  fill: var(--accent-color);
}

.form-input:not(:placeholder-shown),
.form-input:focus,
.textarea:not(:placeholder-shown),
.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.textarea {
  position: relative;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 15px;
}
.textarea-label {
  position: absolute;

  top: 12px;
  left: 16px;
  transform: translateX(0);
}

.textarea:focus-within + .form-label,
.textarea:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px);
  color: var(--accent-color);
}

.button-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.modal .button.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-position {
  position: relative;
}
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.contract-text {
  text-decoration: underline;
  color: var(--accent-color);
}
.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.checkbox-label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  margin-right: 8px;
}
.checkbox:checked + .checkbox-label {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/form-icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}
